extends base.pug
block content
  div(class='tickets')
    div(class='item')
      img(src='/img/girl.png')
      div(class='right')
    div(class='item active')
      img(src='/img/boy.png')
      div(class='right')
    div(class='item')
      img(src='/img/single.png')
      div(class='right')
  div(class='op')
    div(id='submit') 右上菜单分享到朋友圈，参与活动
  script(type='text/javascript' src='/js/pick.js')
  script(type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
  script(type='text/javascript').
    var openid = '#{openid}'
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '#{appId}', // 必填，公众号的唯一标识
        timestamp: #{timestamp}, // 必填，生成签名的时间戳
        nonceStr: '#{noncestr}', // 必填，生成签名的随机串
        signature: '#{signature}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','showOptionMenu', 'showMenuItems', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
  script(type='text/javascript' src='/js/wxsdkInit.js')
